.profile-wrapper {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(50%);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 32px;
    border-radius: 18px;
    min-width: 860px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
}

.btn {
    margin-top: 8px;
    width: 20%;
    padding: 8px 18px;
    border: none;
    border-radius: 8px;
    transition: 0.2s;
    background-color: #ccc;
    /* color: white; */
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.profile-log-out {
    background-color: rgb(231, 83, 83);
}